@if(user){
<header [class.header-visible]="isHeaderVisible">
  @if(isLoading){
  <div class="header-loading">
    <app-loading-ripple></app-loading-ripple>
  </div>
  }@else { @if(user.data){
  <div class="header-content">
    <button class="navigation-button" (click)="goToProfile()">
      <mat-icon>person</mat-icon>
    </button>
    <button class="navigation-button" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  }@else {
  <div class="header-error">
    <button (click)="login()">
      For a more personalized experience, <span>please login</span>
    </button>
  </div>
  } }
</header>
}
