header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: opacity 0.3s ease-in-out;
  background-color: white;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  &.header-visible {
    opacity: 1;
    pointer-events: auto;
  }
}

.header-loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.header-content {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-content .navigation-button {
  width: clamp(40px, 1.5vw, 50px);
  height: clamp(40px, 1.5vw, 50px);
}

.header-error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.header-error button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  color: var(--text-main);
  transition: padding 0.2s ease-in-out;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

.header-error button span {
  font-weight: 600;
  color: var(--primary-color);
}

.header-error button:hover {
  padding: 10px 30px;
  color: var(--primary-color);
}
