footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

p {
  margin: 0;
  color: var(--text-main);
  font-size: 0.9rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
